/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

/* Centering the QR Code Generator */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

/* Main Container */
.container {
    width: 400px;
    background-color: bisque;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

/* Heading */
p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* Input Field */
.container input {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 10px;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
}

/* Button */
.btn {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin: 20px 0;
    transition: background 0.3s;
}

/* Button Hover Effect */
.btn:hover {
    background-color: darkblue;
}

/* QR Code Box */
#img-box {
    width: 200px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    padding: 0;
    margin: 0 auto;
}

/* QR Code Image */
#img-box img {
    width: 100%;
    padding: 10px;
}

/* When the QR Code is Generated */
#img-box.show-img {
    max-height: 220px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid rgba(201, 199, 199);
    background: white;
}
